{% extends 'base/base.html' %}

{% block title %} AiLearning| Categories 
{% endblock %}

  <!-- navbar -->
  {% block navbar %}
    <ul>
      <li style="float:right"><a href="{% url 'index' %}"> صفحه اصلی </a></li>
      <li style="float:right"><a class="active" href="{% url 'courses' %}"> دوره های آموزشی</a></li>
      <li style="float:right"><a href="{% url 'article_list' %}">  مقاله ها  </a></li>
      <li style="float:right"><a href="{% url 'dashboard' %}"> داشبورد </a></li>
      {% if user is None %}
        <li><a  href="{% url 'login' %}"> ورود </a></li>
        <li><a  href="{% url 'signup' %}"> ثبت نام </a></li>
      {% endif %}
    </ul>
    {% endblock %}
    <!-- end of navbar -->

  {% block content %}
    <br><br>
    <h3 class="section-title">  محبوب ترین دسته بندی ها:  </h3>
    {% for category in category_list %}
    <div class="course">
      <a href="{% url 'category_courses' category.slug %}">
        {% if category.image %}
          <img src="{{ category.image.url }} " height="200" width="200" />
          <h3 class="course-name">{{ category.name }}</h3>
        {% endif %}
      </a>
    </div>
    {% endfor %}

    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>

    <h3 class="section-title">  همه دسته بندی ها:  </h3>
    {% for category in category_list %}
    <div class="course">
      <a href="{% url 'category_courses' category.slug %}">
        {% if category.image %}
          <img src="{{ category.image.url }} " height="200" width="200" />
          <h3 class="course-name">{{ category.name }}</h3>
        {% endif %}
      </a>
    </div>
    {% endfor %}

    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>

{% endblock %}
