{% extends 'base/base.html' %}

{% block title %} AiLearning| Categories 
{% endblock %}

<!-- navbar -->
{% block navbar %}
  <ul>
    <li style="float:right"><a href="{% url 'index' %}"> صفحه اصلی </a></li>
    <li style="float:right"><a class="active" href="{% url 'courses' %}"> دوره های آموزشی</a></li>
    <li style="float:right"><a href="{% url 'article_list' %}">  مقاله ها  </a></li>
    <li style="float:right"><a href="{% url 'dashboard' %}"> داشبورد </a></li>
    {% if user is None %}
      <li><a  href="{% url 'login' %}"> ورود </a></li>
      <li><a  href="{% url 'signup' %}"> ثبت نام </a></li>
    {% endif %}
  </ul>
{% endblock %}
<!-- end of navbar -->

{% block content %}
  <br>
  <div style="overflow-x:auto;">
    <h3 class="section-title">  محبوب ترین دسته بندی ها:  </h3>
    {% for i, c in zipped_poplist %}
      <div class="course">
        <a href="{% url 'category_courses' c.slug %}">
          {% if c.image %}
            <img src="{{ c.image.url }} " height="200" width="200" />
          {% endif %}
          <h3 class="course-name">{{ c.name }}
          </h3>
          <br><br>
          <div>
            <i class="fa-solid fa fa-graduation-cap"> </i>
            {{i}}
            <div class="student">
              دانشجو
            </div>&nbsp; &nbsp;
            <div class="course-rates">
              <div class="course-star">
                <i class="fa fa-star star"></i>
              </div> 
              {{c.score}} 
              <div class="rates-number">({{c.rates}})</div>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
  <br>
  <div style="overflow-x:auto;">
    <h3 class="section-title">  همه دسته بندی ها:  </h3>
    {% for i,c in zipped_catlist %}
      <div class="course">
        <a href="{% url 'category_courses' c.slug %}">
          {% if c.image %}
            <img src="{{ c.image.url }} " height="200" width="200" />
          {% endif %}
          <h3 class="course-name">{{ c.name }}
          </h3>

          <br><br>

          <div>
            <i class="fa-solid fa fa-graduation-cap"> </i>
            {{ i }}           
            <div class="student">
              دانشجو
            </div>
            <div class="course-rates">
              <div class="course-star">
                <i class="fa fa-star star"></i>
              </div> 
              {{c.score}} 
              <div class="rates-number">({{c.rates}})</div>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
  <br><br>
{% endblock %}