{% extends "base/base.html" %}

{% block title %} AiLearning | Courses {% endblock %}


    <!-- navbar -->
    {% block navbar %}
    <ul>
      <li style="float:right"><a href="{% url 'index' %}"> صفحه اصلی </a></li>
      <li style="float:right"><a class="active" href="{% url 'courses' %}"> دوره های آموزشی</a></li>
      <li style="float:right"><a href="{% url 'article_list' %}">  مقاله ها  </a></li>
      <li style="float:right"><a href="{% url 'dashboard' %}"> داشبورد </a></li>
      {% if user is None %}
        <li><a  href="{% url 'login' %}"> ورود </a></li>
        <li><a  href="{% url 'signup' %}"> ثبت نام </a></li>
      {% endif %}
    </ul>
    {% endblock %}
      <!-- end of navbar -->

{% block content %}

    {% for course in course_list %}
        <a href="{% url 'course_details' course.slug %}">
            {% if course.image %}
                <img src="{{ course.image.url }} " height="200" width="200">
            {% endif %} 
            <h2>{{course.name}}</h2>
        </a>

    {% endfor %}

{% endblock %}