{% extends "base/base.html" %}

{% block title %}
  AiLearning | Articles
{% endblock %}
<!-- navbar -->
{% block navbar %}
  <ul>
    <li style="float:right"><a href="{% url 'index' %}"> صفحه اصلی </a></li>
    <li style="float:right"><a href="{% url 'courses' %}"> دوره های آموزشی</a></li>
    <li style="float:right"><a class="active" href="{% url 'article_list' %}">  مقاله ها  </a></li>
    <li style="float:right"><a href="{% url 'dashboard' %}"> داشبورد </a></li>
    {% if user is None %}
      <li><a  href="{% url 'login' %}"> ورود </a></li>
      <li><a  href="{% url 'signup' %}"> ثبت نام </a></li>
    {% endif %}
  </ul>
{% endblock %}
<!-- end of navbar -->

{% block content %}
  <br>
  <div style="overflow-x:auto;">

    <h3 class="section-title">  محبوب ترین ها:  </h3>
    {% for c in popular_article %}
    <div class="course">
      <a href="{% url 'article_details' c.slug %}">
        {% if c.image %}
          <img src="{{ c.image.url }} ">
        {% endif %} 
        <h3 class="course-name"> {{c.name}} </h3>
        <div style="display:inline;"> نویسنده :  
        </div>
        <div class="course-prof"> {{c.author.all.0.name}} 
        </div>
        {% for prof in c.author.all %} 
          {% if prof.name == c.author.all.0.name %}
          {% else %} 
            <div class="course-prof"> - {{prof.name}} </div>
          {% endif %}
        {% endfor %}
        <br><br>
        <i class="fa-solid fa fa-graduation-cap"> </i>
        {{c.readers}}
        <div class="student">
          خواننده
        </div>
        <div class="course-rates">
          <div style="direction:ltr; display:inline;">
            <i class="fa fa-star star"></i>
          </div> 
          {{c.score}} 
          <div class="rates-number">({{c.rates}})</div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
 
  <br><br>
  <div style="overflow-x:auto;">

    <h3 class="section-title"> همه مقالات :  </h3>
    {% for c in article_list %}
      <div class="course">
        <a href="{% url 'article_details' c.slug %}">
          {% if c.image %}
            <img src="{{ c.image.url }} ">
          {% endif %} 
          <h3 class="course-name"> {{c.name}} </h3>
          <div style="display:inline;"> نویسنده :  
          </div>
          <div class="course-prof"> {{c.author.all.0.name}} 
          </div>
          {% for prof in c.author.all %} 
            {% if prof.name == c.author.all.0.name %}
            {% else %} 
              <div class="course-prof"> - {{prof.name}} </div>
            {% endif %}
          {% endfor %}
          <br><br>
            <i class="fa-solid fa fa-graduation-cap"> </i>
            {{c.readers}}
            <div class="student">
              خواننده
            </div>
            <div class="course-rates">
              <div style="direction:ltr; display:inline;">
                <i class="fa fa-star star"></i>
              </div> 
              {{c.score}} 
              <div class="rates-number">({{c.rates}})</div>
            </div>
        </a>
      </div>
    {% endfor %}
  </div>
    
  <br><br>
  <br><br>

{% endblock %}