<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    {% block head %}
      {% load static %}
      <meta content="width=device-width, initial-scale=1" name="viewport" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="/static/css/styles.css" />
      <script type="text/javascript" src="/static/js/star-rating.js" defer></script> 
      <script type="text/javascript" src="/static/js/scroll-btn.js" defer></script> 
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" integrity="sha512-dPXYcDub/aeb08c63jRq/k6GaKccl256JQy/AnOq7CAnEZ9FzSL9wSbcZkMp4R26vBsMLFYH4kQ67/bbV8XaCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <title>
        {% block title %}
          My amazing site
        {% endblock %}
      </title>
    {% endblock %}
  </head>
  <body>
    <button onclick="topFunction()" id="myBtn" 
            style="font-size:2.5rem; width:4rem; height:4rem; padding: none; border-radius:3rem;">
            &#8593;</button>
    <!-- navbar -->
    {% block navbar %}
      <ul>
        <li style="float:right"><a class="active" href="{% url 'index' %}"> صفحه اصلی </a></li>
        <li style="float:right"><a href="{% url 'courses' %}"> دوره های آموزشی</a></li>
        <li style="float:right"><a href="{% url 'article_list' %}">  مقاله ها  </a></li>
        <li style="float:right"><a href="{% url 'dashboard' %}"> داشبورد </a></li>
        {% if user is None %}
        <li><a  href="{% url 'login' %}"> ورود </a></li>
        <li><a  href="{% url 'signup' %}"> ثبت نام </a></li>
        {% endif %}
      </ul>
    {% endblock %}
      <!-- end of navbar -->
    {% block content %}
    {% endblock %}
    <br>
    {% block footer %}
      <!-- footer -->
      <footer>
        <div class="footer-container">
          <div class="footer-section">
            <h4>  بخش های سایت  </h4>
            <hr><br>
            <ul class="footer">
              <li><a href="{% url 'courses' %}"> دوره های آموزشی </a></li>
              <li><a href="{% url 'category_list' %}">دسته بندی ها </a></li>
              <li><a href="{% url 'article_list' %}"> مقالات آموزشی </a></li>
            </ul>
          </div>
          <div class="footer-section">
            <h4> درباره ما </h4>
            <hr><br>
            <ul class="footer">
              <li><a href="{% url 'contactus' %}"> ارتباط با ما </a></li>
              <li><a href="#"> فعالیت های ما  </a></li>
              <li><a href="{% url 'contactus' %}"> همکاری با ما </a></li>
            </ul>
          </div>
          <div class="footer-section">
            <h4> شبکه های اجتماعی </h4>
            <hr><br>
            <!-- Add font awesome icons -->
            <a href="https://www.youtube.com/" class="fa-solid  fa fa-youtube " style="font-size: 3em; margin:1rem;"> </a>
            <a href="https://www.telegram.org/" class="fa-solid fa fa-telegram" style="font-size: 3em; margin:1rem;"> </a><br>
            <a href="https://www.linkedin.com/" class="fa-solid fa fa-linkedin " style="font-size: 3em; margin:1rem;"></a>  
            <a href="https://www.github.com/" class="fa-solid fa fa-github " style="font-size: 3em; margin:1rem;"></a>
            <!-- Add more icons as needed -->
          </div>
        </div>
        <div class="footer-bottom">
          <hr><br>
          <p>
            کليه حقوق محصولات و محتوای اين سایت متعلق به 
            AiLearning.ir می باشد.
            <br>
             هر گونه کپی برداری از محتوا و محصولات سایت غیر مجاز و بدون رضایت ماست.
          </p>
        </div>
      </footer>
      <!-- end of footer -->
    {% endblock %}

  </body>
</html>
