* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
===================
icon & fonts
===================
*/

/* @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"); */

@font-face {
    font-family: "vazir";
    src: url("../fonts/vazir/Vazir-Medium.woff2") format("woff2"),
        url("../fonts/vazir/Vazir-Medium.woff") format("woff"),
        url("../fonts/vazir/Vazir-Medium.ttf") format("truetype"),
        url("../fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.woff2") format("woff2"),
        url("../fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.woff") format("woff"),
        url("../fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.ttf") format("truetype");
}

/*
=================
Variables
=================
*/

:root {
    --clr-primary: #e2711d;
    --clr-primary-light: #ffb627;
    --clr-grey-1: #102a42;
    --clr-grey-5: #617d98;
    --clr-grey-10: #f1f5f8;
    --clr-white: #fff;
    --ff-primary: "vazir", sans-serif;
    --transition: all 0.3s linear;

}

body {
    font-family: var(--ff-primary);
    background: var(--clr-white);
    color: var(--clr-grey-1);
    text-align: right;
    font-size: 1rem;
}

p {
    font-family: 'vazir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, monospace;
    margin: 0.5rem;
    
}

a {
    text-decoration: none;
}

hr {
    color: #ccc;

}

h1 {
    font-size: 1.75rem;

}


@media screen and (min-width: 800px) {

    h1 {
        font-size: 2rem;

    }

    .course-name {
        padding: 1.5rem 1.5rem;
        margin: 1rem;
    }


    .course {
        margin: 1rem;
        border: 1px solid #ccc;
        float: right;
        width: 16rem;
        height: 16rem;
        padding: 1rem 1rem;
    }

}

.btn {
    background: var(--clr-primary);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    color: var(--clr-white);
    transition: var(--transition);
}

.btn:hover {
    background: var(--clr-primary-light);
    color: var(--clr-primary);

}

/*
===================
header
===================
*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--clr-grey-1);
}

li {
    float: left;

}

li a {
    display: block;
    color: rgb(211, 196, 196);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: var(--transition);

}

/* Change the link color to ... on hover */
li a:hover {
    background-color: rgb(145, 67, 145);

}


.active {
    background-color: #04AA6D;
}

.header {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url(../images/2.png) center/cover no-repeat fixed;
    position: relative;
}

.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(180%, -50%);
    text-align: center;
}

.banner h1 {
    color: var(--clr-primary);
    margin-bottom: 2rem;
}

.btn-banner {
    border-radius: 0.75rem;
}

/* divider */
.content-divider {
    height: 0.5rem;
    background: linear-gradient(to left, var(--clr-primary), var(--clr-primary-light), var(--clr-primary));
}

/* The latest courses */


.course-name {
    padding: 1.5rem;
    text-align: center;
    /* margin: 1rem; */
}

.course {
    margin: 3rem;
    border: 1px solid #ccc;
    float: right;
    width: 16rem;
    height: 16rem;
    padding: 1rem 1rem;
}

.course:hover {
    border: 1px solid #777;
}

.course img {
    width: 100%;
    height: 100%;
}


@media screen and (min-width: 800px) {

    .course-name {
        padding: 1.5rem 1.5rem;
        margin: 1rem;
    }


    .course {
        margin: 1rem;
        border: 1px solid #ccc;
        float: right;
        width: 16rem;
        height: 16rem;
        padding: 1rem 1rem;
    }

}

/* footer  */
footer {
    background-color: #5d7186;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    margin-bottom: 0.5rem;
}

.footer-section h4 {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    text-align: center;
}

.footer-section ul {
    background-color: inherit;
    list-style-type: disclosure-closed;
    text-align: right;
    overflow: visible;
}

.footer-section li {
    float: none;
}

.footer-section li::marker {
    color: #ffffff;
    font-size: 1.2rem
;}


.footer-section a {
    /* display: block; */
    color: #d9dcdf;
    text-decoration: none;
    font-size: 1.2rem;
}


.footer-section li a {
    background-color: inherit;
    text-align: right;

}

.footer-section li a:hover {
    background-color: inherit;
    text-decoration: underline;

}

.footer-bottom hr{
    height: 0.25rem;
    background-color: #ccc;
    margin: 0.5rem;
}

.footer-bottom {
    text-align: center;
    margin: 1rem;
    /* border-top: 0.2rem solid #dee2e6; */
    padding: 1rem;
}