
@font-face {
    font-family: "vazir";
    src: url("../fonts/vazir/Vazir-Medium.woff2") format("woff2"),
         url("../fonts/vazir/Vazir-Medium.woff") format("woff"),
         url("../fonts/vazir/Vazir-Medium.ttf") format("truetype"),
         url("../fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.woff2") format("woff2"),
         url("../fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.woff") format("woff"),
         url("../fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.ttf") format("truetype");
  }



p {
    font-family: 'vazir',-apple-system, BlinkMacSystemFont, 'Segoe UI',Roboto, monospace;
}

a {
    text-decoration: none;
}