{% extends "base/base.html" %}
{% block head %}
    <meta content="width=device-width, initial-scale=1" name="viewport" />
	<link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">    
    
    {% block title %}
        <title>AiLearning |  ارتباط با ما  </title>
    {% endblock  %}
{% endblock %}
{% block navbar %}
{% endblock %} 

{% block content %}
    <section claas="contact" style="padding: 20px; margin: 20px;">
        <div claas="section-center">
            <article class="contact-info" style="display: inline;">
                <div class="contact-item">
                    <span class="contact-icon">
                        <i class="bi bi-geo-alt-fill"></i>
                    </span>
                    <h4 claas="contact-title" style="display: inline;"> 
                        آدرس 
                    </h4>
                    <h4 class="contact-text">
                        لورم ایپسوم 
                        <br>
                        متن ساختگی نامفهوم صنعت چاپ
                    </h4>
                </div>
                <br>
                <div class="contact-item">
                    <span class="contact-icon">
                        <i class="bi bi-envelope-fill"></i>
                    </span>
                    <h4 claas="contact-title" style="display: inline;">
                          ایمیل 
                    </h4>

                    <h4 class="contact-text">
                        fake@example.org
                    </h4>
                </div>
                <br>
                <div class="contact-item">
                    <span class="contact-icon">
                        <i class="bi bi-telephone-fill"></i>
                    </span>
                    <h4 claas="contact-title" style="display: inline;"> 
                        شماره تماس 
                    </h4>
                    <h4 class="contact-text">
                        ۰۹۱۲۰۰۰۰۰۰۰
                    </h4>
                </div>
                <br> 
            </article>
            <br>
            <article class="contact-form" style=" top: 50%; left: 50%;
                    transform: translate(-120%, -65%);">
                <h3>  تماس با ما </h3>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control" name="name" placeholder="نام" type="text" requierd>
                        <input class="form-control" name="email" placeholder="ایمیل" type="email" requierd>
                        <textarea class="form-control" name="message" placeholder="متن پیام" type="message" 
                                rows="10" requierd></textarea>
                    </div>
                    <button class="btn submit-btn" type="submit"> ارسال  </button>
                </form>
            </article>
        </div>
    </section>
{% endblock%}
{% block footer %}
{% endblock %}