{% extends "base/base.html" %}

{% block title %} AiLearning  {% endblock %}

{% block content %}

<!-- header -->
<header class="header">

<br>
<ul>
  <li><a class="active" href="course/courses/"> دوره های آموزشی</a></li>
  <li><a href="publication/articles/">  مقاله ها  </a></li>
  <li><a href="user/dashboard/"> داشبورد </a></li>
  {% if user is None %}
    <li style="float:right"><a  href="user/login/"> ورود </a></li>
    <li style="float:right"><a  href="user/signup/"> ثبت نام </a></li>
  {% endif %}

</ul>
  <div class="banner">

    <h1> lorem </h1>
    {% for c in category %}
      <p><a class="btn btn-banner" href="{% url 'course:category_courses' c.slug %}">
        {{c.name}}
      </a></p><br>

    {% endfor %} 
  </div>
</header>
<div class="content-divider">
  
</div>

<!-- end of header -->






<br><br><br><br>
<br><br>
<br><br>


    <br><br>

  <h4>
 :دسته بندی ها 
    {% for c in category %}
        <a href="{% url 'course:category_courses' c.slug %}">
            {% if c.image %}
                <img src="{{ c.image.url }} " height="200" width="200">
            {% endif %} 
            <h3>{{c.name}}</h3>
        </a>

    {% endfor %}
  </h4>
<br><br>
<div>
  <p>
    <h3>جدیدترین دوره ها :</h3>
  </p>
</div>
  <h3>
    {% for c in course %}
    <a href="{% url 'course:course_details' c.slug %}">
      <figure>{% if c.image %}
        <img src="{{ c.image.url }} " height="200" width="200">
      {% endif %} 
      <h3>{{c.name}}</h3>
     &nbsp;   
      </figure>
    </a>
    {% endfor %}
  </h3>
<br><br>

  <p>
    <h3>جدیدترین مقاله ها :</h3>
  </p>

  <h3>
    {% for a in article %}
    <a href="{% url 'article_details' a.slug %}">
      {% if a.image %}
      <img src="{{ a.image.url }} " height="200" width="200">
      {% endif %}
      <h3>{{a.name}}</h3>
    {% endfor %}

  </h3>


{% endblock %}