{% extends "base/base.html" %}

{% block tag %}

<script type="text/javascript" src="/static/js/validateForm.js"></script> 

{% endblock %}

{% block title %}
    AiLearnign | تغییر رمز
{% endblock %}

    <!-- navbar -->
    {% block navbar %}
        <ul>
            <li style="float:right"><a href="{% url 'index' %}"> صفحه اصلی </a></li>
            <li style="float:right"><a href="{% url 'courses' %}"> دوره های آموزشی</a></li>
            <li style="float:right"><a href="{% url 'article_list' %}">  مقاله ها  </a></li>
            <li style="float:right"><a class="active" href="{% url 'dashboard' %}"> داشبورد </a></li>
            {% if user is None %}
                <li><a  href="{% url 'login' %}"> ورود </a></li>
                <li><a href="{% url 'signup' %}"> ثبت نام </a></li>
            {% endif %}
        </ul>
    {% endblock %}
      <!-- end of navbar -->

{% block content %}
    
    <div class="contact-form" style="margin-right:29%; margin-top:4rem; margin-bottom:4rem;">
        {% if message %}
            <p style=" padding-top: 1rem;">{{message}}</p>
        {% endif %}

        <form action="" method="post" name="change_pass" onsubmit="return validateForm(name)">
            {% csrf_token %}
            <div class="form-group">
                <p>
                    <label for="oldpassword"> رمز قبلی   </label>
                    <input id="oldpassword" type="password" class="form-control change-pass"
                    name="oldpassword" placeholder="رمز قبلی را بنویسید" requierd>
                </p>
                <p>
                    <label for="pass1"> رمز جدید </label>
                    <input id="pass1" type="password" class="form-control change-pass"
                    name="password1" placeholder=" رمز عبور جدید را بنویسید " requierd>
                </p>
                <p>
                    <label for="pass2"> تکرار رمز جدید </label>
                    <input id="pass2" type="password" class="form-control change-pass"
                    name="password2" placeholder="  تکرار رمز عبور جدید  " requierd>
                </p>
                <p><br><input class="btn" type="submit" value="  تغییر رمز   "></p>
            </div>
            <div class="forgot">
                <a href="{% url 'resetpass' %}">
                    رمز عبور خود را فراموش کرده اید؟ 
                </a> 
            </div>
        </form>
    </div>
{% endblock %}