{% extends "base/base.html" %}

{% block title %}
    AiLearnign | تغییر رمز
{% endblock %}

{% block content %}
    <div>
        <p>{{message}}</p>

        <form action="" method="post">
            {% csrf_token %}
            <p>
                <label for="oldpassword"> رمز قبلی   </label>
                <input id="oldpassword" type="password" name="oldpassword" placeholder="رمز قبلی را بنویسید ">
            </p>
            <p>
                <label for="pass1"> رمز جدید: </label>
                <input id="pass1" type="password" name="password1" placeholder=" رمز عبور جدید را بنویسید ">
            </p>
            <p>
                <label for="pass2"> تکرار رمز جدید:  </label>
                <input id="pass2" type="password" name="password2" placeholder="  تکرار رمز  عبور جدید  ">
            </p>
            <p><br><input type="submit" value="  تغییر رمز   "></p>
        </form>
    </div>
    <div>
        {% comment %} <p>  <a href="{% url 'user:resetpass' %}">    رمز عبور خود را فراموش کرده اید؟ </a> </p> {% endcomment %}
    </div>
    <div>
        <a href="{% url 'user:resetpass' %}"> دوره های شما  </a>
    </div>
        
{% endblock %}