{% extends "base/base.html" %}
{% block title %}
AiLearning | ورود
{% endblock %}

{% block content %}
    <div>
        <p>{{message}}</p>
        <form action="" method="post">
            {% csrf_token %}
                <p>
                    <label for="username"> نام کاربری :</label>
                    <input id="username" type="text" name="username" placeholder="نام کاربریتان را اینجا بنویسید">
                </p>
                <p>
                    <label for="pass"> رمز عبور: </label>
                    <input id="pass" type="password" name="password" placeholder=" رمز عبورتان را اینجا بنویسید">
                </p>
            <input type="submit" value="Login">
        </form>
        <p>اکانت ندارید؟ یکی بسازید  <a href="{% url 'user:signup' %}">  ساخت اکانت  </a> </p>
    </div>

{% endblock %}