<!DOCTYPE html>
<html lang="fa">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>AiLearning</title>
	<link rel="stylesheet" href="/static/css/signup-login.css">
	<script type="text/javascript" src="/static/js/validateForm.js"></script>	

</head>

<body>
	<header>
		<h1 class="heading">AiLearning </h1>
		{% comment %} <h3 class="title">   </h3> {% endcomment %}
	</header>

	<!-- container div -->
	<div class="container">

		<!-- upper button section to select
			the login or signup form -->
		<div class="slider"></div>
		<div class="btn">
			<button class="login"> ورود </button>
			<button class="signup"> ثبت نام </button>
		</div>

		<!-- Form section that contains the
			login and the signup form -->
		<div class="form-section">

			<!-- login form -->
            <form action="/user/login/" method="post" name="login"
			onsubmit="return validateForm('login')">
                {% csrf_token %}

			<div class="login-box">
                <p>{{message}}</p>
                    <input type="text"
					class="email ele"
					placeholder="Email or Username" 
                    name="email_username" requierd>
				<input type="password"
					class="password ele"
					placeholder="password"
                    name="password" minlength="8" requierd><br>
				<button class="clkbtn"> ورود </button>
			</div>
        </form>


			<!-- signup form -->
            <form action="/user/signup/" method="post" name="signup"
			onsubmit="return validateForm('signup')">
                {% csrf_token %}
                <p>{{message}}</p>

                <div class="signup-box">
				<input type="text"
					class="name ele"
					placeholder="Enter your name"
                    name="username">
				<input type="email"
					class="email ele"
					placeholder="youremail@email.com"
                    name="email"
					pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
					oninvalid="setCustomValidity('فرمت وارد شده نادرست است.')"
					onchange="try{setCustomValidity('')}catch(e){}">
				<input type="password"
					class="password ele"
					placeholder="password"
                    name="password1">
				<input type="password"
					class="password ele"
					placeholder="Confirm password"
                    name="password2">
				<button class="clkbtn">  ثبت نام   </button>
			</div>
		</div>
	</div>
	<script>
        let signup = document.querySelector(".signup");
        let login = document.querySelector(".login");
        let slider = document.querySelector(".slider");
        let formSection = document.querySelector(".form-section");
        
        signup.addEventListener("click", () => {
            slider.classList.add("moveslider");
            formSection.classList.add("form-section-move");
        });
        
        login.addEventListener("click", () => {
            slider.classList.remove("moveslider");
            formSection.classList.remove("form-section-move");
        });

	</script>

</body>
</html>
