{% extends "base/base.html" %}

{% block title %}
AiLearning | ساخت اکانت
{% endblock %}

{% block content %}
    <div>
        <p>{{message}}</p>
        <form action="" method="post" id="large">
            {% csrf_token %}
            <p>
                <label for="username"> نام کاربری :</label>
                <input id="username" type="text" name="username" placeholder="نام کاربریتان را اینجا بنویسید">
            </p>
            <p>
                <label for="pass1"> رمز عبور: </label>
                <input id="pass1" type="password" name="password1" placeholder=" رمز عبورتان را اینجا بنویسید">
            </p>
            <p>
                <label for="pass2"> تکرار رمز عبور:  </label>
                <input id="pass2" type="password" name="password2" placeholder=" رمز عبورتان را اینجا بنویسید">
            </p>
            <p><br><input type="submit" value="ساخت اکانت"></p>
        </form>
    </div>


{% endblock %}